.dashboard-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

.dashboard-div {
  width: 75%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .contentbox-right {
    width: 100%;
  }
}
