.searchbar-input{
    height: 2rem;
    margin-left: 1rem;
    width: 60%;
    font-size: 1rem;
    border: none;
    color: rgba(80, 80, 80, 1);
}

.searchbar-input:focus{
    border: 0px solid #4d90fe;
    outline: none;
}